{% extends 'layout.html' %}

{% block body %}
<div class="about">
    <div class="title">
        <br><br><br><br><br>
        <li>Hakkımızda</li>
    </div>

    <div class="context">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque a explicabo optio doloribus quasi sit quaerat, et error magnam? Ex sunt ratione veniam perferendis quis maiores, corporis beatae quia suscipit natus corrupti, tempore alias, temporibus dolorum nobis ducimus consequatur iste odit quidem architecto distinctio praesentium. Facere obcaecati, commodi non illum, amet iste ea dolorum aliquid alias consequatur totam, aspernatur rem nostrum perferendis. Deleniti rerum quis modi perferendis, ducimus aut dignissimos velit, odio est minus in? Voluptatum vel iste iusto minus ad neque eius ducimus nobis nihil officiis, quidem doloremque voluptatibus deleniti nemo unde aspernatur maiores necessitatibus eveniet mollitia, ipsum placeat.</p>

    </div>

</div>


{% endblock body %}